style.scss {
  @import "../../styles/uikit.scss";
}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>${input.title}</title>
  </head>
  <body>
    <${input.renderBody}/>
  </body>
</html>
