<email>
  <p>${out.global.t["Your e-mail address needs to be verified to complete the registration process. To verify your e-mail address, please click on the button below:"]}</p>
  <email-button url=input.registrationURL text=out.global.t["Confirm E-mail"]/>
</email>
