<template>
  <h1>Hello World from Pages!</h1>
  <p>Global test: ${out.global.siteData.title}</p>
  <div>
    <h4>Hello world</h4>
  </div>
  Test: ${out.global.t["Test"]}<br/>
  Test: ${out.global.t["Another Test"]}<br/>
  <test/>
  <test2/>
</template>
