html,
body {
    background: #fff;
}

.z2a-navleft-column-wrap {
    min-width: 200px;
}

#z2a_nav_wrap {
    position: fixed;
    width: 200px;
    overflow-y: auto;
}

.z2a-navleft {
    margin: 20px;
}

.z2a-content-wrap {
    padding: 20px;
}

.uk-navbar {
    background: #32323a !important;
    height: 64px;
    padding: 0 !important;
}

.uk-navbar-left,
.uk-navbar-right {
    flex-wrap: unset !important;
}

div.uk-navbar-right>ul>li>a,
div.uk-navbar-left>div>span>a>svg {
    color: #ccc;
}

div.uk-navbar-right>ul>li>a:focus,
div.uk-navbar-right>ul>li>a:active,
div.uk-navbar-right>ul>li>a:hover,
div.uk-navbar-left>div>span>a:focus>svg,
div.uk-navbar-left>div>span>a:active>svg div.uk-navbar-left>div>span>a:hover>svg {
    color: #eee;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon-switch {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.flag-icon:before {
    content: "\00a0";
}

.flag-icon-ru {
    background-image: url(/zoia/flags/ru.svg);
}

.flag-icon-en {
    background-image: url(/zoia/flags/en.svg);
}

.flag-icon-de {
    background-image: url(/zoia/flags/de.svg);
}