.zform-mandatory {
    padding-left: 5px;
    font-size: 100%;
    color: red;
}

.zform-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 200;
}

.zform {
    z-index: 100;
}

.zform-wrap {
    position: relative;
}

.zform-upload-btn-wrapper {
    display: inline-block;
}

.zform-upload-btn-wrapper input[type="file"] {
    display: none;
}

.zform-drop-area {
    padding: 30px 30px;
    background: transparent;
    border: 1px dashed #e5e5e5;
    -webkit-user-select: none;
    user-select: none;
}

.zform-captcha-image-wrap {
    height: 55px;
}

.zform-noselect {
    user-select: none;
}