style {
  .za-ed-no-select {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
  }
  .za-ed-answer:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

class {
  onCreate(input) {
    const state = {
      questions: {},
      errors: []
    };
    input.questions.map((q, i) => (state.questions[`edu_test_q${q.id}`] = q.answersCount === 1 ? null : []));
    this.state = state;
  }
  onRadioValueChanged(e) {
    const id = e.target.name;
    const value = String(e.target.value, 10);
    const questions = this.state.questions;
    questions[id] = value;
    this.setState("questions", questions);
  }
  onCheckboxValueChanged(e) {
    const id = e.target.name;
    const value = String(e.target.value, 10);
    const checked = e.target.checked;
    const data = this.state.questions[id];
    if (checked && data.indexOf(value) === -1) {
      data.push(value);
    }
    if (!checked && data.indexOf(value) > -1) {
      data.splice(data.indexOf(value), 1);
    }
    const questions = this.state.questions;
    questions[id] = data;
    this.setState("questions", questions);
  }
  onFinishButtonClick(e) {
    console.log(this.state.questions);
    const errors = Object.keys(this.state.questions)
      .map(item => (!this.state.questions[item] || (Array.isArray(this.state.questions[item]) && !this.state.questions[item].length) ? item : null))
      .filter(i => i);
    if (errors.length) {
      return this.setState("errors", errors);
    }
  }
}

<div class="uk-margin" uk-margin>
  <for|question, indexQuestion| of=input.questions>
    <div class=`za-ed-no-select`>${indexQuestion + 1}. ${question.title}</div>
    <fieldset class="uk-fieldset uk-flex uk-flex-column">
      <for|answer, indexAnswer| of=question.answers>
        <label class="uk-text-small za-ed-no-select">
          <if(question.answersCount === 1)>
            <input name=`edu_test_q${question.id}` class="uk-radio" type="radio" on-change("onRadioValueChanged") value=answer.id checked=(state.questions[`edu_test_q${question.id}`] === String(answer.id))/>
          </if>
          <else>
            <input name=`edu_test_q${question.id}` class="uk-checkbox" type="checkbox" on-change("onCheckboxValueChanged") value=answer.id checked=(state.questions[`edu_test_q${question.id}`].indexOf(String(answer.id)) > -1)/>
          </else>
          &nbsp;<span class="za-ed-answer">${String.fromCharCode(97 + parseInt(indexAnswer, 10)).toUpperCase()}.&nbsp;${answer.title}</span>
        </label>
      </for>
    </fieldset>
  </for>
  <div class="uk-margin-top">
    <button class="uk-button uk-button-primary uk-margin-top" on-click("onFinishButtonClick")>${input.t["Finish"]}</button>
  </div>
</div>
