<templates>
  <div class="uk-title-head">${out.global.t["Authorize"]}</div>
  <authForm/>
  <p>${out.global.t["Forgot your password?"]}&nbsp;<a href=`${out.global.siteData.languagePrefixURL}/users/reset`>${out.global.t["Click here"]}</a>&nbsp;${out.global.t["to set a new password for your account"]}</p>
</templates>
