<template>
  <div class="uk-title-large-head uk-margin-small-bottom">${out.global.t["Internal Server Error"]}</div>
  <p>${out.global.t["The server encountered an unexpected condition which prevented it from fulfilling the request."]}</p>
</template>
