.za-ad-addBaseLink {
    color: #444 !important;
    background: #fff !important;
    text-decoration: none !important;
    border: 1px solid #ccc;
    font-weight: normal;
    margin-right: 2px;
}

.za-ad-addBaseLink:hover {
    background: #eee !important;
}